/* MAIN */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbarButton:hover {
    background: #ebeaeb;
}

.navbarButton:active {
    background: #ebeaeb;
}

/* FIM DO MAIN*/

/* INDEX */

.indexBody {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}

#login-position {
    padding-top: 50px;
}

/* FIM DO INDEX */

/* AGENDA CARONA */

.agendaCarona {
    width: 40px;
    color: darkblue;
}

.testecor {
    background-color: crimson !important;
}