/* MAIN */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbarButton:hover {
    background: #ebeaeb;
}

.navbarButton:active {
    background: #ebeaeb;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
/* FIM DO MAIN*/

/* INDEX */

.indexBody {
    padding-bottom: 20px;
    font-size: large;
}

#login-position {
    padding-top: 50px;
}

/* FIM DO INDEX */

/* AGENDA CARONA */

.agendaCarona {
    width: 40px;
    color: darkblue;
}

/* INICIO DO PERFIL */

#perfil-box {
    width: 1140px;
    height: 118px;
    position: relative;
    border-radius: 5px;
}

#perfil-box-foto {
    background: #fdfdfd ;
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 10px;

}
#perfil-box-foto img{
    border: 2px solid black;
    border-radius: 10px;
}
#perfil-box-nome {
    background: none ;
    position: absolute;
    top: 45px;
    left: 180px;
    font-size: 40px;
    color: whitesmoke;
}

#perfil-box-matricula {
    background: none ;
    position: absolute;
    top: 95px;
    left: 182px;
    font-size: 15px;
    color: whitesmoke;
}

#perfil-box-navbar {
    background: whitesmoke ;
    width: 972px;
    height: 50px;
    margin-left: 160px;
}


/* FIM DO PERFIL */

/* INICIO OFERECER CARONA */

#radioButton {
    width: 410px;
}

/* FIM OFERECER CARONA */