/* MAIN CSS */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbarButton:hover {
    background: #ebeaeb;
}

.navbarButton:active {
    background: #ebeaeb;
}

/* MAIN INDEX */

.indexBody {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}