@main("Agendar Carona") {

    <div class="container">
        <legend align="center">Ofertas de Carona</legend>
        <div class="row">
            <div class="col-sm-4">
                <ul><h3>Motorista 1</h3></ul>
                <ul><kbd>Destino: Camalácumuriú</kbd></ul>
                <ul><kbd>Horário de Partida: 19:30</kbd></ul>
                <ul>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success btn-xs">Solicitar</button>
                    <button id="recusarOfertaCarona" name = "recusarOfertaCarona" class ="btn btn-danger btn-xs">Recusar</button>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul><h3>Motorista 2</h3></ul>
                <ul><kbd>Destino: Mandacaru</kbd></ul>
                <ul><kbd>Horário de Partida: 19:30</kbd></ul>
                <ul>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success btn-xs">Solicitar</button>
                    <button id="recusarOfertaCarona" name = "recusarOfertaCarona" class ="btn btn-danger btn-xs">Recusar</button>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul><h3>Motorista 3</h3></ul>
                <ul><kbd>Destino: Mandacaru</kbd></ul>
                <ul><kbd>Horário de Partida: 19:30</kbd></ul>
                <ul>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success btn-xs">Solicitar</button>
                    <button id="recusarOfertaCarona" name = "recusarOfertaCarona" class ="btn btn-danger btn-xs">Recusar</button>
                </ul>
            </div>
        </div>
    </div>
}