@(usuario: Usuario)

@index("CaronaUFCG - Agendar Carona")(usuario) {
    <div class="container">
        <legend align="center">Ofertas de Carona</legend>
        <div class="row">
            <div class="col-sm-4">
                <ul><img src="@routes.Assets.versioned("/images/ronaldinho.jpg")" class="img-circle" alt="Passageiro 1" width="136" height="136"> </ul>
                <ul>Motorista: Motorista1</ul>
                <ul>Bairro: Catolé</ul>
                <ul>Horário de enderecoPartida: 7:40</ul>
                <ul>Vagas disponíveis: 3</ul>
                <ul>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success btn-xs" onclick="solicitarCarona()">
                        Solicitar carona</button>
                    <button id="recusarOfertaCarona" name = "recusarOfertaCarona" class ="btn btn-danger btn-xs" onclick="ignorarCarona()">
                        Ignorar</button>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul><img src="@routes.Assets.versioned("/images/fofao.jpg")" class="img-circle" alt="Passageiro 1" width="136" height="136"> </ul>
                <ul>Motorista: Motorista2</ul>
                <ul>Bairro: Catolé</ul>
                <ul>Horário de enderecoPartida: 9:30</ul>
                <ul>Vagas disponíveis: 1</ul>
                <ul>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success btn-xs" onclick="solicitarCarona()">
                        Solicitar carona</button>
                    <button id="recusarOfertaCarona" name = "recusarOfertaCarona" class ="btn btn-danger btn-xs" onclick="ignorarCarona()">
                        Ignorar</button>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul><img src="@routes.Assets.versioned("/images/lula.jpg")" class="img-circle" alt="Passageiro 1" width="136" height="136"> </ul>
                <ul>Motorista: Motorista3</ul>
                <ul>Bairro: Catolé</ul>
                <ul>Horário de enderecoPartida: 14:00</ul>
                <ul>Vagas disponíveis: 5</ul>
                <ul>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success btn-xs" onclick="solicitarCarona()">
                        Solicitar carona</button>
                    <button id="recusarOfertaCarona" name = "recusarOfertaCarona" class ="btn btn-danger btn-xs" onclick="ignorarCarona()">
                        Ignorar</button>
                </ul>
            </div>
        </div>
    </div>
}