@import models.formularios.FormularioCadastro
@(formCadastro: play.data.Form[FormularioCadastro])

@main("Cadastro") {
    <div class="container">
    @helper.form(routes.CadastroController.cadastrar(), 'class -> "form-horizontal") {
        <fieldset>

                <!-- Form Name -->
            <legend align="center">Dados pessoais</legend>

                <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="foto">Foto: </label>
                <div class="col-md-8">
                    <img id="preview" alt="yourImage" width="120" src="@routes.Assets.versioned("images/placeholder.png")" />
                    <input id="foto" name="foto" class="input-file" type="file" accept="image/jpeg" onchange="readURL(this)">
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nome"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("nome"), 'class -> "form-control input-md", '_label -> "Nome:", 'required -> "")
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="matricula"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("matricula"), 'class -> "form-control input-md", '_label -> "Matrícula:", 'required -> "")
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("telefone"), 'class -> "form-control input-md", '_label -> "Telefone:", 'required -> "")
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("email"), 'class -> "form-control input-md", '_label -> "E-mail:", 'required -> "", 'type -> "email")
                </div>
            </div>

                <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="senha"></label>
                <div class="col-md-4">
                @helper.inputPassword(formCadastro("senha"), 'class -> "form-control input-md", '_label -> "Senha:", 'required -> "")
                </div>
            </div>

                <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="confirmaSenha"></label>
                <div class="col-md-4">
                @helper.inputPassword(formCadastro("confirmaSenha"), 'class -> "form-control input-md", '_label -> "Repetir senha:", 'required -> "")
                </div>
            </div>

                <!-- Text input -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="quantidadeDeVagas"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("quantidadeDeVagas"), 'class -> "form-control input-md", '_label -> "Quantidade de vagas:", 'required -> "", 'value -> "0", 'type -> "number")
                </div>
            </div>

            <legend align="center">Endereço</legend>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="rua"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("rua"), 'class -> "form-control input-md", '_label -> "Rua:", 'required -> "")
                </div>
            </div>

                <!-- Text input -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bairro"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("bairro"), 'class -> "form-control input-md", '_label -> "Bairro:", 'required -> "")
                </div>
            </div>

                <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cadastrar"></label>
                <div class="col-md-8">
                    <button id="cadastrar" name="cadastrar" class="btn btn-success" type="submit">
                        Cadastrar</button>
                    <button id="limpar" name="limpar" class="btn btn-primary" type="reset">Limpar</button>
                    <a href="/" id="voltar" name="voltar" class="btn btn-default">Voltar</a>
                </div>
            </div>
        </fieldset>
    }
    </div>
}