@main("Cadastro") {
    <div class="container">
        <form id="cadastroForm" class="form-horizontal">
            <fieldset>

                    <!-- Form Name -->
                <legend align="center">Dados pessoais</legend>

                    <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="foto">Foto: </label>
                    <div class="col-md-8">
                        <img id="preview" alt="your image" width="120" src="@routes.Assets.versioned("images/placeholder.png")" />
                        <input id="foto" name="foto" class="input-file" type="file" accept="image/jpeg" onchange="readURL(this)">
                    </div>
                </div>

                    <!-- Radio buttons-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="tipo">Tipo de cadastro: </label>
                    <div class="col-md-4">
                        <input id="tipo1" name="tipo" class="radio-button" type="radio" checked="" onclick="desativarQtde()">
                        Passageiro
                        <input id="tipo2" name="tipo" class="radio-button" type="radio" onclick="ativarQtde()">
                        Motorista
                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">Nome completo:</label>
                    <div class="col-md-4">
                        <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="matricula">Matrícula:</label>
                    <div class="col-md-4">
                        <input id="matricula" name="matricula" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="telefone">Telefone: </label>
                    <div class="col-md-4">
                        <input id="telefone" name="telefone" type="text" placeholder="(xx) x xxxx-xxxx" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">E-mail: </label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="email" placeholder="exemplo&#64;ccc.ufcg.edu.br" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="senha">Senha: </label>
                    <div class="col-md-4">
                        <input id="senha" name="senha" type="password" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="confirmaSenha">Confirmar senha: </label>
                    <div class="col-md-4">
                        <input id="confirmaSenha" name="confirmaSenha" type="password" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="qtde">Quantidade de <br> passageiros:</label>
                    <div class="col-md-4">
                        <input id="qtde" name="qtde" type="number" placeholder="" class="form-control input-md" disabled>
                    </div>
                </div>

                <legend align="center">Endereço</legend>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="rua">Rua:</label>
                    <div class="col-md-4">
                        <input id="rua" name="rua" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                    <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="bairro">Bairro:</label>
                    <div class="col-md-4">
                        <input id="bairro" name="bairro" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                    <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="cadastrar"></label>
                    <div class="col-md-8">
                        <a href="/login" id="cadastrar" name="cadastrar" class="btn btn-success" role="button">
                            Cadastrar</a>
                        <button id="limpar" name="limpar" class="btn btn-primary" type="reset">Limpar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}