@import models.formularios.FormularioCadastro
@import play.i18n._

@(formCadastro: play.data.Form[FormularioCadastro])

@main("CaronaUFCG - Cadastro") {
    <div class="container">
    @helper.form(routes.CadastroController.cadastrar(), 'class -> "form-horizontal") {
        <fieldset>

                <!-- Form Name -->
            <legend align="center">@Messages.get("signup.title")</legend>

                <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="foto">@Messages.get("signup.picture"): </label>
                <div class="col-md-8">
                    <img id="preview" alt="yourImage" width="120" src="@routes.Assets.versioned("images/placeholder.png")" />
                    <input id="foto" name="foto" class="input-file" type="file" accept="image/jpeg" onchange="readURL(this)">
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nome"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("nome"), 'class -> "form-control input-md", '_label -> "Nome:", 'required -> "")
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="matricula"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("matricula"), 'class -> "form-control input-md", '_label -> "Matrícula:", 'required -> "")
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("telefone"), 'class -> "form-control input-md", '_label -> "Telefone:", 'required -> "")
                </div>
            </div>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("email"), 'class -> "form-control input-md", '_label -> "E-mail:", 'required -> "", 'type -> "email")
                </div>
            </div>

                <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="senha"></label>
                <div class="col-md-4">
                @helper.inputPassword(formCadastro("senha"), 'id -> "senha", 'class -> "form-control input-md", '_label -> "Senha:", 'required -> "", 'oninput -> "checkPassword(this)")
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div id="erroSenhas2" class="col-md-4 alert alert-danger" style="display: none">
                @Messages.get("error.invalidPassword")
                </div>
                <div class="col-md-4"></div>
            </div>
                <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="confirmaSenha"></label>
                <div class="col-md-4">
                @helper.inputPassword(formCadastro("confirmaSenha"), 'id -> "confirmaSenha", 'class -> "form-control input-md", '_label -> "Repetir senha:", 'required -> "", 'oninput -> "comparePasswords(this)")
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div id="erroSenhas" class="col-md-4 alert alert-danger" style="display: none">
                @Messages.get("error.mismatchPasswords")
                </div>
                <div class="col-md-4"></div>
            </div>


            <script language='javascript' type='text/javascript'>
                    function checkPassword(input) {
                        if (input.value != "" && input.value.length < 3) {
                            document.getElementById("erroSenhas2").removeAttribute("style");
                        } else {
                            document.getElementById("erroSenhas2").setAttribute("style", "display: none");
                        }

                    }
                    function comparePasswords(input) {

                        if (input.getAttribute("id") == "confirmaSenha") {
                            if (input.value != "" && input.value != document.getElementById("senha").value) {
                                document.getElementById("erroSenhas").removeAttribute("style");
                            } else {
                                document.getElementById("erroSenhas").setAttribute("style", "display: none");
                            }
                        } else {
                            if (input.value != "" && document.getElementById("confirmaSenha").value != "" && input.value != document.getElementById("confirmaSenha").value) {
                                document.getElementById("erroSenhas").removeAttribute("style");
                            } else {
                                document.getElementById("erroSenhas").setAttribute("style", "display: none");
                            }
                        }
                    }
                    function checkVagas(input) {
                        if(input.value < 0) {
                            document.getElementById("vagas").removeAttribute("style");
                        } else {
                            document.getElementById("vagas").setAttribute("style", "display: none");
                        }
                    }
            </script>

                <!-- Text input -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="quantidadeDeVagas"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("quantidadeDeVagas"), 'class -> "form-control input-md", '_label -> "Quantidade de vagas:", 'required -> "", 'value -> "0", 'type -> "number",
                    'oninput -> "checkVagas(this)")
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div id="vagas" class="col-md-4 alert alert-danger" style="display: none">
                @Messages.get("error.carSlots")
                </div>
                <div class="col-md-4"></div>
            </div>

            <legend align="center">@Messages.get("signup.addressTitle")</legend>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="rua"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("rua"), 'class -> "form-control input-md", '_label -> "Rua:", 'required -> "")
                </div>
            </div>

                <!-- Text input -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bairro"></label>
                <div class="col-md-4">
                @helper.inputText(formCadastro("bairro"), 'class -> "form-control input-md", '_label -> "Bairro:", 'required -> "")
                </div>
            </div>

                <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cadastrar"></label>
                <div class="col-md-8">
                    <button id="cadastrar" name="cadastrar" class="btn btn-success" type="submit">
                    @Messages.get("button.signup")</button>
                    <button id="limpar" name="limpar" class="btn btn-primary" type="reset">@Messages.get("button.reset")</button>
                    <a href="/" id="voltar" name="voltar" class="btn btn-default">@Messages.get("button.back")</a>
                </div>
            </div>
        </fieldset>
    }
    </div>
}