@main("Endereços") {
    <div class="container">
        <form id="enderecosForm" class="form-horizontal">
            <fieldset>

                <legend align="center">Endereços e horários</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="endpartida">Endereço de partida:</label>
                    <div class="col-md-4">
                        <input id="endpartida" name="endpartida" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="horpartida">Horário de partida:</label>
                    <div class="col-md-4">
                        <input id="horpartida" name="horpartida" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="iguais1">Endereço de partida é o mesmo de retorno? </label>
                    <div class="col-md-4">
                        <input id="iguais1" name="iguais" class="radio-button" type="radio" checked="" onclick="desativarEndereco()"> Sim
                        <input id="iguais2" name="iguais" class="radio-button" type="radio" onclick="ativarEndereco()"> Não
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="endretorno">Endereço de retorno:</label>
                    <div class="col-md-4">
                        <input id="endretorno" name="endretorno" type="text" placeholder="" class="form-control input-md" required="" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="horretorno">Horário de retorno:</label>
                    <div class="col-md-4">
                        <input id="horretorno" name="horretorno" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="cadastrar"></label>
                    <div class="col-md-8">
                        <button id="cadastrar" name="cadastrar" class="btn btn-success">Cadastrar Endereço</button>
                        <button id="limpar" name="limpar" class="btn btn-primary" type="reset">Limpar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}