@import play.i18n._

@(title: String)(usuario: Usuario)(content: Html)

    @main(title) {
        <div id = "mainDiv" class="container">
            <div id="perfil-box">

                <img src="@routes.Assets.versioned("/images/banner2.jpg")" alt="">
                <div id="perfil-box-nome">@usuario.getNome()</div>
                <div id="perfil-box-matricula">@Messages.get("index.registration"): @usuario.getMatricula()</div>
                <div id="perfil-box-foto"><img src="@routes.Assets.versioned("/images/fofao.jpg")" width="150" height="150"></div>
            </div>

            <div id="perfil-box-navbar">

                <nav>
                    <div>
                        <div >
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                                <li class="navbarButton"><a href="/">@Messages.get("index.home")</a></li>
                                <li class="navbarButton"><a href="/perfil">@Messages.get("index.profile")</a></li>
                                <li class="navbarButton"><a href="/oferecerCarona">@Messages.get("index.offerRide")</a></li>
                                <li class="navbarButton"><a href="/pesquisarCarona">
                                    @Messages.get("index.searchRide")<span class="badge"></span></a></li>
                                <li class="navbarButton"><a href="/solicitacoes">
                                    @Messages.get("index.rideRequests") <span class="badge">@usuario.getSolicitacoesRecebidas().size()</span></a></li>
                                <li class="navbarButton"><a href="/deslogar" type="button">
                                @Messages.get("index.logout")</a></li>
                            </ul>
                            <ul class="nav navbar-nav" style="float: right">
                                <li class="navbarButton"><a href="ptbr">PT-BR</a></li>
                                <li class="navbarButton"><a href="en">EN</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        @content
    }
