@main("Login") {
    <div class="container">
        <form id="loginForm" class="form-horizontal">
            <fieldset>

                <legend align="center">Login</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">Usuario:</label>
                    <div class="col-md-4">
                        <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="senha">Senha: </label>
                    <div class="col-md-4">
                        <input id="senha" name="senha" type="password" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        <a href="/perfil" name="buttonid" class="btn btn-success" role="button">Entrar</a>
                        <a href="/" class="btn btn-primary" role="button">Voltar</a>
                        <!-- Botão desativado para linkar o perfil -->
                        <!--
                        <button name="button1id" class="btn btn-success">Entrar</button>
                        -->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}