@import models.formularios.FormularioLogin
@(formLogin: play.data.Form[FormularioLogin])

@main("CaronaUFCG - Login") {
    <div class="container">
    @helper.form(routes.LoginController.logar(), 'class -> "form-horizontal") {
        <legend align="center">Bem vindo ao CaronaUFCG. Faça seu login</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email"></label>
            <div class="col-md-4">
            @helper.inputText(formLogin("email"), 'class -> "form-control input-md", '_label -> "E-mail:", 'required -> "")
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="senha"></label>
            <div class="col-md-4">
            @helper.inputPassword(formLogin("senha"), 'class -> "form-control input-md", '_label -> "Senha:", 'required -> "")
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button name="buttonid" class="btn btn-success" type="submit">Entrar</button>
                <a href="/cadastro" name="buttonid" class="btn btn-default" role="button">Cadastre-se</a>
            </div>
        </div>
    }
    </div>
}
