@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">

                <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">CaronaUFCG</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="navbarButton" onclick=""><a href="/">Inicio</a></li>
                            <li class="navbarButton"><a href="#">Meu perfil</a></li>
                            <li class="navbarButton"><a href="enderecos">Endereços</a></li>
                            <li class="navbarButton"><a href="agendarCarona">Agendar Carona</a></li>

                            <!-- Dropdown desativado pra teste -->
                            <!--
                            <li class="dropdown navbarButton">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Caronas <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Solicitações atuais</a></li>
                                    <li><a href="#">Solciitar</a></li>
                                    <li><a href="#">Oferecer</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">...</li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                </ul> -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbarButton"><a href="cadastro"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
                            <li class="navbarButton"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </div>
        @content
    </body>
</html>