@import models.formularios.FormularioCarona
@(usuario: Usuario)(formCarona: play.data.Form[FormularioCarona])

@index("CaronaUFCG - Oferecer Carona")(usuario) {
    <div class="container">
        <legend align="center">Oferecer Carona</legend>
        @helper.form(routes.CaronaController.criarCarona(), 'class -> "form-horizontal") {
            <fieldset>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="tipo">Tipo:</label>
                    <div class="col-md-4">
                        <input type="radio" name="tipo" value="ida" checked onclick="caronaIda()"> Ida para UFCG
                        <input type="radio" name="tipo" value="volta" onclick="caronaVolta()"> Volta da UFCG
                        <input type="radio" name="tipo" value="idaVolta" onclick="caronaIdaVolta()"> Ida e Volta
                    </div>
                </div>

                <div id="partida">

                    <legend align="center">Partida</legend>

                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="horaPartida">Hora de Partida:</label>
                        <div class="col-md-4">
                            <input id="horaPartida" name="horaPartida" type="text" value="08:00" class="form-control input-md" required="">
                        </div>
                    </div>

                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ruaPartida">Rua de Partida:</label>
                        <div class="col-md-4">
                            <input id="ruaPartida" name="ruaPartida" type="text" value="@usuario.getEndereco().getRua()" class="form-control input-md" required="">
                        </div>
                    </div>

                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bairroPartida">Bairro de Partida:</label>
                        <div class="col-md-4">
                            <input id="bairroPartida" name="bairroPartida" type="text" value="@usuario.getEndereco().getBairro()" class="form-control input-md" required="">
                        </div>
                    </div>

                </div>

                <div id="retorno" style="display : none">

                    <legend id="legendRetorno" align="center">Retorno</legend>

                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="horaRetorno">Hora de retorno:</label>
                        <div class="col-md-4">
                            <input id="horaRetorno" name="horaRetorno" type="text" value="18:00" class="form-control input-md" required="">
                        </div>
                    </div>

                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ruaRetorno">Rua de retorno:</label>
                        <div class="col-md-4">
                            <input id="ruaRetorno" name="ruaRetorno" type="text" value="@usuario.getEndereco().getRua()" class="form-control input-md" required="">
                        </div>
                    </div>

                        <!-- Text input -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bairroRetorno">Bairro de retorno:</label>
                        <div class="col-md-4">
                            <input id="bairroRetorno" name="bairroRetorno" type="text" value="@usuario.getEndereco().getBairro()" class="form-control input-md" required="">
                        </div>
                    </div>

                </div>


                    <!-- Text input -->
                <div class="form-group">
                    <legend align="center">Quantidade de Vagas:</legend>
                    <label class="col-md-4 control-label" for="vagas">Quantidade <br> de vagas:</label>
                    <div class="col-md-4">
                        <input id="vagas" name="vagas" type="number" value="@usuario.getQuantidadeDeVagas()" class="form-control input-md" required="">
                    </div>
                </div>

                    <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="oferecer"></label>
                    <div class="col-md-8">
                        <button id="oferecer" name="oferecer" class="btn btn-success" type="submit">Oferecer Carona</button>
                        <button id="limpar" name="limpar" class="btn btn-primary" type="reset">Limpar</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
}