@import models.formularios.FormularioPerfil
@import play.i18n._
@(usuario: Usuario)(formPerfil: play.data.Form[FormularioPerfil])

@index("CaronaUFCG - Perfil")(usuario) {
    <div class="container">
        @helper.form(routes.PerfilController.atualizarPerfil(), 'class -> "form-horizontal") {
            <fieldset>

                    <!-- Form Name -->
                <legend align="center">@Messages.get("profile.title")</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="foto">@Messages.get("profile.picture"): </label>
                    <div class="col-md-8">
                        <img id="preview" alt="your image" width="120" src="@routes.Assets.versioned("images/fofao.jpg")" />
                        <input id="foto" name="foto" class="input-file" type="file" accept="image/jpeg" onchange="readURL(this)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">@Messages.get("profile.name"): </label>
                    <div class="col-md-4">
                        <input id="nome" name="nome" type="text" value="@usuario.getNome()" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="matricula">@Messages.get("profile.registration"): </label>
                    <div class="col-md-4">
                        <input id="matricula" name="matricula" type="text" value="@usuario.getMatricula()" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="telefone">@Messages.get("profile.phone"): </label>
                    <div class="col-md-4">
                        <input id="telefone" name="telefone" type="text" value="@usuario.getTelefone()" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">@Messages.get("profile.email"): </label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="email" value="@usuario.getEmail()" class="form-control input-md" required="">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="quantidadeDeVagas">@Messages.get("profile.spotCount"):</label>
                    <div class="col-md-4">
                        <input id="quantidadeDeVagas" name="quantidadeDeVagas" type="number" value="@usuario.getQuantidadeDeVagas()" class="form-control input-md" required="" max="6" min="0">
                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="rua">@Messages.get("profile.street"):</label>
                    <div class="col-md-4">
                        <input id="rua" name="rua" type="text" value="@usuario.getEndereco().getRua()" class="form-control input-md" required="">
                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="bairro">@Messages.get("profile.district"):</label>
                    <div class="col-md-4">
                        <input id="bairro" name="bairro" type="text" value="@usuario.getEndereco().getBairro()" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="atualizar"></label>
                    <div class="col-md-8">
                        <button id="atualizar" name="atualizar" class="btn btn-success" type="submit">@Messages.get("button.update")</button>
                        <button id="limpar" name="limpar" class="btn btn-primary" type="reset">@Messages.get("button.reset")</button>
                    </div>
                </div>
            </fieldset>
        }

        @if(flash.contains("error")) {
            <div class="col-md-4"></div>
            <div class="col-md-4 alert alert-danger">
            @flash.get("error")
            </div>
            <div class="col-md-4"></div>
        }
        @if(flash.contains("success")) {
            <div class="col-md-4"></div>
            <div class="col-md-4 alert alert-success">
            @flash.get("success")
            </div>
            <div class="col-md-4"></div>
        }
    </div>
}