@(usuario: Usuario)

@index("Perfil")(usuario) {
    <div class="container">
        @helper.form(routes.PerfilController.atualizarPerfil(), 'class -> "form-horizontal") {
            <fieldset>

                    <!-- Form Name -->
                <legend align="center">Alterar dados pessoais</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="foto">Foto: </label>
                    <div class="col-md-8">
                        <img id="preview" alt="your image" width="120" src="@routes.Assets.versioned("images/fofao.jpg")" />
                        <input id="foto" name="foto" class="input-file" type="file" accept="image/jpeg" onchange="readURL(this)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Nome completo:</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="text" value="@usuario.getNome()" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="matricula">Matrícula:</label>
                    <div class="col-md-4">
                        <input id="matricula" name="matricula" type="text" value="@usuario.getMatricula()" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="telefone">Telefone: </label>
                    <div class="col-md-4">
                        <input id="telefone" name="telefone" type="text" value="@usuario.getTelefone()" class="form-control input-md" required="">

                    </div>
                </div>

                    <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">E-mail: </label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="email" value="@usuario.getEmail()" class="form-control input-md" required="">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="qtde">Quantidade de <br> vagas:</label>
                    <div class="col-md-4">
                        <input id="qtde" name="qtde" type="number" value="@usuario.getQuantidadeDeVagas().toString()" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="atualizar"></label>
                    <div class="col-md-8">
                        <button id="atualizar" name="atualizar" class="btn btn-success" type="submit">Atualizar</button>
                        <button id="limpar" name="limpar" class="btn btn-primary" type="reset">Resetar</button>
                        <a href="enderecos" id="endereco" name="endereco" class="btn btn-default" role="button">Alterar Endereço</a>
                    </div>
                </div>
            </fieldset>
        }
    </div>
}