@import play.i18n._

@(usuario: Usuario)

@index("CaronaUFCG - Solicitações Recebidas")(usuario) {
    <div class ="container">
        <legend align="center">@Messages.get("requests.title")</legend>
        <div class="row">
            <div class="col-sm-4">
                <ul><img src="@routes.Assets.versioned("/images/ronaldinho.jpg")" class="img-circle" alt="Passageiro 1" width="136" height="136"> </ul>
                <ul>@Messages.get("requests.passenger"): Passageiro1</ul>
                <ul>@Messages.get("requests.street"): Rodrigues Alves</ul>
                <ul>@Messages.get("requests.phone"): (83) 98765 4321</ul>
                <ul>@Messages.get("requests.district"): Bela Vista</ul>
                <ul>@Messages.get("requests.hour"): 7:40</ul>
                <ul><button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-success" onclick="aceitarSolicitacao()">@Messages.get("button.accept")</button>
                    <button id="solicitarCarona" name = "solicitarCarona" class ="btn btn-danger" onclick="recusarSolicitacao()">@Messages.get("button.refuse")</button></ul>
            </div>
        </div>
    </div>
}